@charset "UTF-8";

.q7_text::after, .q7_text::before {
  content: "";
  position: absolute;
  top: 80px;
  border: 25px solid transparent;
  width: 0px;
  height: 0px;
}

.q7_text::before {
  left: -55px;
  border-right-color: #222;
}

.q7_text::after {
  left: -47px;
  border-right-color: #fff;
}

.q7_box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.q7_icon {
  padding-bottom: 5px;
}

.q7_text {
  position: relative;
  box-sizing: border-box;
  width: 550px;
  font-size: 16px;
  border: 5px solid black;
  border-radius: 30px;
  padding: 20px;
  margin-left: 35px;
  word-break: break-all;
}